.c1
{
    background-color: #66CCFF;
    width: 575px;
}
.c2
{
    background-color: #000066;
    width: 249px;

    
}

table 
{
    min-width:840px;
}



.pessoais
{
    width: 705px;
}

.endereco
{
    width:315px;
    text-align: right;
}

.estados
{
    
}