.c1
{
    background-color: #66CCFF;
    width: 490px;
}
.c2
{
    background-color: #000066;
    width: 345px;

    
}

table 
{
    min-width:840px;
}



.pessoais
{
    width: 721px;
}

.endereco
{
    width:323px;
    text-align: right;
}

.chec
{
    margin-left: -230px;
}

.sexo
{
    margin-left: -290px;
}


