
.geral
{
    background-color: #F1FAF1;
    width: 990px;
    height: 500px;
    margin: 0 auto;
    border: solid 0.3px #f1f2;
    padding-top: 25px;

}

.cadastro
{
    width: 800px;
    background-color: #F1FAF1;
    margin-left: 100px;
    height: 400px;
    padding: 10px 15px 15px 10px;
    border: solid 0.3px rgb(2, 255, 128);    
}

.dados
{
    width: 370px;
    height: auto;
    background-color: #F1FAF1;
    float: left;
    border: solid 0.3px rgb(2, 255, 128);
    
}

.localizacao
{
    width: 370px;
    height: auto;
    background-color: #F1FAF1;
    float: left;
    border: solid 0.3px rgb(2, 255, 128);
    margin-left: 30px;
}

.estilizarP
{

    background: #FFF;
    border: solid 0.3px rgb(2, 255, 128); 
    font-weight: bolder;
    width: 125px;
    color: #24A724;
    text-align: center;

}

.lab
{
    color: #6AC36A;
}