.container{
    margin: 0 auto;
    position: relative;
    width: 800px;
    height: auto;
    background-color: blueviolet;
    text-align: center;
}

.topo{
    width: 800px;
    height: 100px;
    background-color: chartreuse;
    font-size: larger;
}

.menu {
    width: 800px;
    height: 30px;
    background-color: blue;
    clear: both;

    
}
.conteudo{
    width: 800px;
    height: 500px;
    background-color: red;

}

.rodape{
    width: 800px;
    height: 30px;
    background-color: blue;

}
